 .wrap {
   position: relative;
 }
 
 /* Root clickable field */
 .root {
   height: 36px;
   padding: 0 36px 0 10px;
   border: 1px solid #D2DDE4;
   font-size: 12px;
   font-weight: 500;
   line-height: 100%;
   color: #181D27;
   border-radius: 6px;
   background: #fff;
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 

 
 .placeholder {
   color: #181D27;
   font-weight: 500;
   font-size: 12px;
 }
 
 .caret {
   position: absolute;
   right: 5px;
   top: 35%;
   transform: rotate(270deg) translateY(-50%);
   pointer-events: none;
 }
 
 .menu {
   position: absolute;
   left: 0;
   top: calc(100% + 6px);
   width: 100%;
   z-index: 20;
   padding: 4px;
 }
 
 .option {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 6px 8px;
   border-radius: 6px;
   cursor: pointer;
 }
 .option:hover { background: #f8fafc; }
 .optionSelected { background: #eef2ff; }
 
