 .ms {
   position: relative;
   min-height: 36px;
   border: 1px solid #D2DDE4;
   border-radius: 6px;
   background: #fff;
   padding: 0 28px 0 8px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 6px;
   cursor: pointer;
 }
 
 .msValue {
   display: flex;
   gap: 6px;
   align-items: center;
   flex-wrap: wrap;
 }
 
 .msPlaceholder {
    font-weight: 500;
    font-size: 12px;
    color: #181D27;
 }
 
 .msCaret {
    position: absolute;
    right: 5px;
    top: 25%;
    transform: rotate(270deg) translateY(-50%);
    pointer-events: none;
  }
 
 .msMenu {
   position: absolute;
   left: 0;
   top: calc(100% + 6px);
   width: 100%;
   z-index: 20;
   padding: 4px;
 }
 
 .msOption {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 6px 8px;
   border-radius: 6px;
   cursor: pointer;
 }
 .msOption:hover { background: #f8fafc; }
 .msOptionSelected { background: #eef2ff; }
 
 .msCheck {
   width: 16px;
   text-align: center;
   color: var(--primary);
 }
 

