 .avatar {
   border-radius: 9999px;
   overflow: hidden;
   color: #ffffff;
   display: grid;
   border: 1px solid #ffffff;
   place-items: center;
   font-weight: 600;
   letter-spacing: .5px;
   user-select: none;
 }
 
 .image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
 }
 

